.datatable {
    display: flex;
    flex-direction: column;
}

.datatable .row, .datatable .header {
    display: flex;
    flex-direction: row;
}

.datatable .row div, .datatable .header div{
    margin: 10px 0px;
    width: 20%;
    overflow-wrap: break-word;
    font-size: 17px;
    color: #342766;
}

.datatable .header div {
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: #342766;
}

.container_search {
    display: flex;
    flex-direction: row;
}

#search {
    outline: 0;
    border-radius: 16px;
    padding: 5px 24px;
    outline: 0;
    border-width: 1px;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    margin-left: 16px;
}

.list_user {
    text-align: center;
    color: #342766;
    font-size: 28px;
}

.ok {
    cursor: pointer;
    color: white;
    padding: 5px 13px;
    background-color: #926cfa;
    border: none;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    border-radius: 9px;
    outline: 0;
    font-size: 14px;
    margin-left: 13px;
}

.button_delete {
    cursor: pointer;
    color: white;
    padding: 5px 13px;
    background-color: #342766;
    border: none;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    border-radius: 9px;
    outline: 0;
    font-size: 14px;
    margin-left: 13px;
}

.button_edit {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 5px 13px;
    background-color: #342766;
    border: none;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    border-radius: 9px;
    outline: 0;
    font-size: 15px;
    margin-left: 13px;
}