body {
    margin: 0px;
}

.dad_container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.container {
    display: flex;
    background: linear-gradient(90deg, #926cfa 0%, #281854 100%);
    width: 50%;
    justify-content: center;
    align-items: center;
}

.image_logo {
    width: 33%;
}

.text_container {
    width: 50%;
}

.container_login {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
}

p {
    color: #342766;
    font-size: 20px;
}

.text_login {
    color: #342766;
}

.user-login_form {
    margin-bottom: 17px;
}

input#email_login {
    border-radius: 16px;
    padding: 7px 24px;
    outline: 0;
    border-width: 1px;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
}

input#password_login {
    border-radius: 16px;
    padding: 7px 24px;
    outline: 0;
    border-width: 1px;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
}

.container_login_filho {
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    width: 88%;
    height: 71%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
}

.submit-button {
    cursor: pointer;
    color: white;
    padding: 5px 26px;
    background-color: #926cfa;
    border: none;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    border-radius: 17px;
    outline: 0;
    margin-left: 70px;
}
